
<%- include("../partials/header")%>
<br>
<div class="container text-center" style="width: 30%;">
<h1>Edit Comment to: </h1>
<form action="/campgrounds/<%=campId%>/comments/<%=found._id%>?_method=PUT" method="POST">
    

<input class="form-control" style="margin-top: 5px;" type="text" name="comment[text]"  value="<%=found.text%>">


<button style="margin-top: 5px;" class="btn btn-outline-primary btn-block">Submit</button>
</form>

</div>
<%- include("../partials/footer")%>
