<%- include ("../partials/header")%>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">Camp</p>
            <div class="list-group">
                <li class="list-group-item active">info 1
                </li>
                <li class="list-group-item">info 2
                </li>
                <li class="list-group-item">info 3
                </li>
            </div>
        </div>

        <div class="col-md-9">
            <!-- <div class="thumbnail">
                <img class="image-responsive" src="<%=camp.image%>" alt="">

            </div> -->
            <div class="card" id='card'  >
                <img class="card-img-top" src="<%=camp.image%>" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title" "> <a href=""><%=camp.name %></a></h4>
                  <p class="card-text"><%=camp.description%></p>
                  <p>Added by <strong><%=camp.author.username%></strong> </p>
                
                  <%if(currentUser && camp.author.id.equals(currentUser._id)){%>
                  <a href="/campgrounds/<%=camp._id%>/edit" class="btn btn-warning">Edit</a>
                    <div class="float-right">
                        <form action="/campgrounds/<%=camp._id%>?_method=DELETE" method="POST">
                            <button class="btn btn-danger">Delete</button>
                          </form>
                    </div>
                <%}%>
                  
                </div>
              </div>
              <div class="card card-body bg-light">
                  <div class="row">
                      <div class="col-md-12">
                          <div class=" float-right">
                            <a class="btn btn-success"  href="/campgrounds/<%=camp._id%>/comments/new">Add comment</a>
                           
                          </div>
                          <br><br>
                          
                            <%camp.comments.forEach(function(x){%>
                               
                                <p class="lead"><%=x.author.username%> says,</p>
                                <spna> <%=x.text%></spna><br>

                                <%if(currentUser && x.author.id.equals(currentUser._id)){%>
                                    <div>
                                        <form action="/campgrounds/<%=camp._id%>/comments/<%=x._id%>?_method=delete" method="POST">
                                            <button  class="btn btn-danger btn-sm float-right">Delete</button>
                                        </form>
                                <a href="/campgrounds/<%=camp._id%>/comments/<%=x._id%>/edit" class="btn btn-warning btn-sm ">Edit</a>
                               
                            </div>
                                <hr>
                                <%}%>
                                <%})%>
                          
                      

                      </div>

                  </div>

              </div>
        </div>
    </div>

</div>




<%- include ("../partials/footer")%>
